:root {
  --background-color: #f8f8f8;
  --foreground-color: #101010;
  --foreground-error-color: #ff0000;
  --border-color: #c0c0c0;
  --button-color: #40a040;
  --recv-color: #c0ffc0;
  --send-color: #d0e0ff;
  --selected-highlight-percent: 80%;
  --message-content-background: #f0f0f0;
  --message-list-min-width: 200px;
  --padding: 10px;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

a {
  color: black;
}

#message-list-panel {
  width: 40%;
  min-width: var(--message-list-min-width);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#resizer {
  width: 5px;
  cursor: col-resize;
  background: var(--border-color);
}

#message-details {
  flex: 1;
  padding: var(--padding);
  overflow-y: auto;
}

#message-details pre {
  background: var(--message-content-background);
  padding: var(--padding);
  overflow-x: auto;
}

#messages-list-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  cursor: pointer;
  white-space: nowrap;
  flex-grow: 1;
  min-height: 100%;
  align-content: start;
}

.message-row-content {
  display: contents;
}

.message-row-message-id,
.message-row-timestamp,
.message-row-method-and-message {
  background-color: inherit;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
}

.message-row-content.recv.selected {
  background-color: color-mix(in srgb, var(--recv-color) var(--selected-highlight-percent), #000);
}

.message-row-content.send.selected {
  background-color: color-mix(in srgb, var(--send-color) var(--selected-highlight-percent), #000);
}

.message-row-content.recv {
  background-color: var(--recv-color);
}

.message-row-content.send {
  background-color: var(--send-color);
}

.error {
  color: var(--foreground-error-color);
}

#message-list-panel input[type="text"] {
  margin: var(--padding);
  padding: 5px;
  width: calc(100% - 2 * var(--padding) - 15px);
}

#message-list-panel button {
  margin: var(--padding);
}

#legend {
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 0.9em;
  margin: var(--padding);
}

.legend-header {
  margin-right: 5px;
}

.legend-color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px 0px -2px 0;
}

.legend-receive {
  background-color: var(--recv-color);
}

.legend-send {
  background-color: var(--send-color);
}

.message-details-metadata {
  display: grid;
  grid-template-columns: auto 1fr;
}

.message-details-row {
  display: contents;
  margin-bottom: 5px;
}

.message-details-label {
  font-weight: bold;
  margin-right: 15px;
  text-align: right;
}

.message-details-value pre {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

#message-list-clear-button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
